<%= stylesheet_link_tag('post-show')%>

<div class="post-show-container">
  <div class="title-over-all">
     <div class="title-container">
       <div class="title-author">
          <p> <%= @post.title %></p>
          <p>by <%= @post.author.name %></p>
        </div>
          <div class="like-comment">
              <p>Comments: <%= @post.comments_counter %></p>
              <p>Likes: <%= @post.likes_counter %></p>
          </div>
      </div>
         <p><%= @post.text %></p>
  </div>

   <% @post.recent_comments.each do |comment| %>
    <div class="comment-section">
      <h4><%= comment.author.name %>:</h4>
      <p><%= comment.text %></p>
    </div>
    <% end %>
    <div class="comment-like-btn">
      <%= form_with model: @like, url: user_post_likes_path(1, @post), scope: :like do |form|%>
        <%= form.submit 'Like', class: 'btn_1' %>
      <% end %>
      <button type="button" class="btn_2">
        <%= link_to "Comment", new_user_post_comment_path( post_id: @post.id), { class: "user_link" } %>
      </button>
    </div>
</div>